*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
    colors
    #09a6d0
    #60cad4
    #233857
    #FCFDF7
    #FCAA8E
    #D8E5E7
    #9FB8D1
*/
.container
{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,166,208,1) 0%, rgba(96,202,212,1) 100%);
}

header
{
    background: #FCFDF7;
}
header nav
{
    height: 78px;

    overflow: hidden;
    padding-top: 24px;
}
header nav .logo
{
    float: left;
    width: 172px;
    padding-top: 5px;
}
header nav .logo img{width: 100%;}
header nav ul 
{
    float: right;
    list-style-type: none;
}
header nav ul li
{
    float: left;
    margin-left: 27px;
    font-size: 14pt;
    padding: 5px;
}
section .form
{
    width: 50%;
    margin: 20% auto;
    background-color: #fff;
    /* height: 538px; */
    text-align: center;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    padding: 69px 0;
}
section .form h1
{
    font-size: 26pt;
    margin-bottom: 15px;
}
section .form p
{
    margin-bottom: 25px;
    color: #a59b9b;
}
section .form form
{
    text-align: left;
    width: 100%;
    padding: 0 25px;
}
section .form form label
{
    color:#655e5e;
}
section .form form input
{
    width: 99%;
    margin: 14px auto;
    padding: 17px;
    display: block;
}
section .form form input:focus
{
    outline: none;
    border:1px solid #60cad4;
}
section .form form input[type=submit]
{
    -webkit-appearance: button;
    padding: 16px;
    margin: 34px 0;
    color: #fff;
    background-color: 09a6d0;
    font-size: 15pt;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}
section .form span a
{
    color: #233857;
}