.container
{
    width: 90%;
    margin: auto;
}
#video
{
    width: 48%;
    margin-top: 15%;
    border-radius: 20px;
    display: block;
    box-shadow: 1px 3px 24px 10px #d8d8d8;
}
#snap
{
    display: block;
    margin-top: 30px;
    padding: 11px;
    margin-bottom: 22px;
}
