body
{
    background: #eee;
}


@media(max-width:534px)
{
    .right img {
        width: 302px;
        height: 194px;
        display: block;
        margin: 0 auto 15px;
    }
}

@media(max-width:767px) /* Mobile & Tablet Rules */
{
    .post
    {
        margin: 0 auto;
        margin-bottom: 41px;
        word-break: break-all;
    }
    .post .title .name 
    {
        font-size: 14pt;
    }
    .post .title .creationdate 
    {
        font-size: 11pt;
        margin-top: 4px;
    }
    header nav ul li {
        font-size: 15px;
    }
    .post .comment input[type="text"] 
    {
        width: 77%;
    }
    .register .form {
        width: 93%;
    }
    .usersettings .right {
        float: none;
        width: 111%;
    }
    .usersettings .left 
    {
        float: left;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 23px;
    }
    .usersettings {
        width: 88%;
        padding: 12px;
        overflow: hidden;
    }
    .usersettings .right .info 
    {
        padding-left:0;
    }
    .left
    {
        float:none;
        width: 100%;
    }
    .right 
    {
        float:none;
        width: 100%;
    }
    #video
    {
        width: 100%;
    }

}

@media(min-width:768px) /* Small Screen Rules */
{
    .container
    {
        width: 750px;
    }
    .register .form {
        width: 83%;
    }

}
@media(min-width:992px) and (max-width:1999px) /* Medium Screen Rules */
{
    .container
    {
        width: 970px;
    }
    #video
    {
        width: 88%;
    }
    .right img {
        display: block;
        margin: 0 auto 19px;
    }

}
@media(min-width: 1200px) /* Large Screen Rules */
{
    .container
    {
        width: 1170px;
    }
    .register .form 
    {
        width: 67%;
    }
    
}

.post .likes span
{
    position: relative;
    bottom: 9px;
    left: 6px;
    font-weight: bold;
}
.post .title
{
    background-color: #f5f5f5;
}
.post .likes
{
    padding: 18px;
    background-color: #f5f5f5;
}
.post .pcomment
{
    margin-left: 18px;
    padding: 10px 0;
    color: #888888;
    font-size: 13px;
    line-height: 16.5pt;
    
}
.post .pcomment span
{
    color: #656565;
    background: #dcdcdc;
    padding: 4px;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 14px;
}
.post .allcomment
{
    max-height: 246px;
    overflow: auto;
}